<div class="container" *ngIf="retrospectiveList">
  <table>
    <tr>
      <th>
        <h4>{{ 'RETROSPECTIVE.NAME-LABEL' | translate }}</h4>
      </th>
      <th></th>
      <th>
        <h4>{{ 'RETROSPECTIVE.STATUS-LABEL' | translate }}</h4>
      </th>
      <th>
        <h4>{{ 'RETROSPECTIVE.DATE-LABEL' | translate }}</h4>
      </th>
      <th>
        <h4>{{ 'RETROSPECTIVE.DESCRIPTION-LABEL' | translate }}</h4>
      </th>
    </tr>
    <tr *ngFor="let retrospective of retrospectiveList;" class="table-row">
      <td> <a routerLink="../../retrospective/{{retrospective._id}}/add-items">{{retrospective.name}}</a></td>
      <td>
        <div *ngIf="retrospective.done">
          <md-icon class="done md-18">done</md-icon>
        </div>
        <div *ngIf="!retrospective.done">
          <md-icon class="in-progress md-18">schedule</md-icon>
        </div>
      </td>
      <td>
        <div *ngIf="retrospective.done">
          {{ 'RETROSPECTIVE.DONE' | translate }}
        </div>
        <div *ngIf="!retrospective.done">
          {{ 'RETROSPECTIVE.IN-PROGRESS' | translate }}
        </div>
      </td>
      <td>{{retrospective.creationDate | date:'MM/dd/yyyy'}}</td>
      <td>{{retrospective.name}}</td>
    </tr>
  </table>
</div>
