table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: left;
}

.done {
  color: #4BB40E;
}

.in-progress {
  color: #F1CE30;
}

a {
  color: black;
  text-decoration: none;
}

.table-row {
  border-radius: 4px;
  box-shadow: 0 0 8px silver;
  width: 40%;
}

.table-row:hover {
  box-shadow: 0 0 10px #0096a5;
}

.table-data {
  padding: 2px 16px;
}
