<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
      <md-icon aria-label="Menu">menu</md-icon>
    </button>
    <h1>Hello World</h1>
  </div>
</md-toolbar>

<div layout="row" flex>
    <md-sidenav layout="column"
      class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')">
      SIDENAV
    </md-sidenav>
    <div layout="column" flex id="content">
      <div layout="column" flex class="md-padding">
      </div>
    </div>
</div>




<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>

<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</md-sidenav-container>

<div id="wraper">
  <nav>
    <md-toolbar color="primary">
      <md-icon>menu</md-icon>
      Retrospective
    </md-toolbar>
  </nav>
</div>

<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon>add</md-icon>
    </button>
    <div class="example-scrolling-content">
      Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
      fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam
      nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna
      aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
      vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at,
      ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu
      enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis,
      tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
      Taciti dui, sapien consectetuer.
    </div>
  </md-sidenav>
  <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>add</md-icon>
  </button>
  <div class="example-scrolling-content">
    Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
    vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
    ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
    consectetuer.
  </div>
</md-sidenav-container>
