<h1>{{ 'VOTE-COMPONENT.VOTES-LABEL' | translate }}: {{maxRateControl}}</h1>
<button md-icon-button color="accent" (click)="nextStep()" [disabled]="maxRateControl > 0">
  <md-icon class="md-48">play_circle_filled</md-icon>
</button>

<div fxLayout.xs="column" >
  <div fxLayout="row" *ngIf="retrospective">
    <div class="block"*ngFor="let category of categories">
      <app-category
        [category]="category"
        [retrospectiveId]="retrospective._id"
        [state]="state"
        (vote)="vote($event)"></app-category>
    </div>
  </div>
</div>