<md-card fxFlex>
  <h4>{{ 'VOTE-COMPONENT.VOTES-LABEL' | translate }}: {{maxRateControl}}</h4>
</md-card>

<div fxLayout.xs="column" >
  <div fxLayout="row" fxFlex="95" fxLayout.xs="column" fxLayoutAlign="space-around" *ngIf="retrospective">
    <div class="block"*ngFor="let category of categories">
      <app-category
        [category]="category"
        [retrospectiveId]="retrospective._id"
        [state]="state"
        (vote)="vote($event)"></app-category>
    </div>
  </div>
  <button md-fab color="primary" routerLink="../action-items" [disabled]="maxRateControl > 0">
    <md-icon class="md-18">play_circle_filled</md-icon>
  </button>
</div>