<div class="container"  fxFlex="470px">
  <md-card class="category">
    <md-card-header>
      <md-card-title><h4>{{category.name}}</h4></md-card-title>
    </md-card-header>
    <md-card-actions align="end" *ngIf="state.edit">
      <button md-icon-button class="md-36" color="accent" (click)="addItem()">
        <md-icon class="md-36">add_circle</md-icon>
      </button>
    </md-card-actions>
    <md-card-content>
      <div
        class="panel panel-default"
        *ngFor= "let item of items; let i = index"
        dnd-draggable
        [dragEnabled]="!item.children.length && state.group && currentUser.role === 'moderator'"
        [dragData]="{item: item, index: i, belong: items}"
        [dropZones]="['item']">
        <div
          dnd-droppable
          [dropEnabled]="state.group"
          [dropZones]="['item']"
          (onDropSuccess)="onGroup($event, item)">
          <app-item
            [item]="item"
            [state]="state"
            (modified)="onItemModified($event)"
            (deleted)="onItemDeleted(i)"
            (ungroup)="onUngroup(i)"
            (vote)="voteItem($event, i)"
            [currentUser]="currentUser"
            ></app-item>
        </div>
      </div>
    </md-card-content>
    <div class="drag-item"
    dnd-droppable
    [dropEnabled]="state.group"
    (onDropSuccess)="onUnGroup($event)"
    [dropZones]="['category']">
    </div>
  </md-card>
</div>
