<md-sidenav-container class="wrapper">
  <md-sidenav #sidenav class="my-sidenav" mode="side" opened="true">
    <md-toolbar class="side-nav-toolbar" role="header">
      <a routerLink="team/retrospective-list">
        {{ 'APP-COMPONENT.TITTLE-WHITE' | translate }}
        <span class="sidenav-second-color">{{ 'APP-COMPONENT.TITTLE-CYAN' | translate }}</span>
      </a>
    </md-toolbar>
  </md-sidenav>

  <md-toolbar class="my-toolbar" color="primary">
    <button type="button" md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    {{ 'CREATE-RETROSPECTIVE.BUTTON-LABEL' | translate }}
    <button md-icon-button type="button" routerLink="team/create-retrospective">
      <md-icon>add_circle</md-icon>
    </button>
    <span class="space"></span>
    <button layout="row" layout-align="end-start" md-button [mdMenuTriggerFor]="languageMenu">
      <md-icon>language</md-icon>
      <md-icon>arrow_drop_down</md-icon>
    </button>
    <md-menu #languageMenu="mdMenu">
      <button md-menu-item (click)="switchLanguage('en')">
        {{ 'LANGUAGE.EN' | translate }}
      </button>
      <button md-menu-item (click)="switchLanguage('es')">
        {{ 'LANGUAGE.ES' | translate }}
      </button>
    </md-menu>
  </md-toolbar>
  <div class="content-box">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>