<md-toolbar class="my-toolbar" color="primary">
  <button type="button" md-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  {{ 'APP-COMPONENT.TITTLE' | translate }}
  <span class="space"></span>
  <button layout="row" layout-align="end-start" md-button [mdMenuTriggerFor]="menu">
    <md-icon>list</md-icon>
  </button>
  <button layout="row" layout-align="end-start" md-button [mdMenuTriggerFor]="languageMenu">
    <md-icon>language</md-icon>
    <md-icon>arrow_drop_down</md-icon>
  </button>
  <md-menu #languageMenu="mdMenu">
    <button md-menu-item (click)="switchLanguage('en')">
      {{ 'LANGUAGE.EN' | translate }}
    </button>
    <button md-menu-item (click)="switchLanguage('es')">
      {{ 'LANGUAGE.ES' | translate }}
    </button>
  </md-menu>
  <md-menu #menu="mdMenu">
    <button type="button" md-button (click)="redirectToCreateRetrospective()">
        <div>{{ 'CREATE-RETROSPECTIVE.BUTTON-LABEL' | translate }}</div>
    </button>
  </md-menu>
</md-toolbar>

<md-sidenav-container class="wrapper">
  <md-sidenav #sidenav class="my-sidenav">
    Empty Side
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
