<h1>
  Add Items
  <button md-icon-button color="accent" (click)="nextStep()" [disabled]="!isAtLeastOneExistingItem()" *ngIf="userIsModerator">
    <md-icon class="md-48">play_circle_filled</md-icon>
  </button>
</h1>

<div
  fxLayout
  fxLayout.xs="column">
  
  <a md-icon-button class="item-menu-icon" (click)="openDialogForSendMessage()" *ngIf="userIsModerator">
    <md-icon class="md-18 circular-btn-with-icon">markunread</md-icon>
  </a>
</div>

<div class="panel-container">
  <div fxLayout="row" *ngIf="retrospective">
    <div class="block" *ngFor="let category of categories">
      <app-category [category]="category" [retrospectiveId]="retrospective._id" [state]="state" [currentUser]="currentUser"></app-category>
    </div>
  </div>
</div>
