@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('../node_modules/ng2-dnd/style.css');


html, body, material-app, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.retrospective-list {
  list-style: none;
}

.retrospective-list a {
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  font-size: 11px;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  width: 15em;
}

.retrospective-list a:visited,
.retrospective-list a:link {
  color: #607D8B;
}

.retrospective-list a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.retrospective-list a.active {
  color: #039be5;
}

.wrapper {
  min-height: 500px;
}

.container {
  padding: 5px;
}

.my-sidenav {
  min-width: 17vw !important;
  padding: 20px 10px;
}

.space {
  flex: 1 1 auto;
}

.block {
  display: block;
}

 
.md-18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}

.md-24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.md-36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}

.md-48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.cancelButton {
  color: #0096a5 !important;
}

.menu-icon {
  min-width: 0px !important;
  background: none !important;
  box-shadow: none !important;
}

.item-menu-icon {
  background: #0096a5 !important;
  color: white !important;
}

.accent-txt{
  color: #0096a5 !important;
}

.over-accent-txt:hover{
  color: #0096a5 !important;
}

.circular-btn-with-icon {
  padding-bottom: 8px;
}

.user-profile {
  margin: 0px 4px;
}

.slider-text {
  color: #0097a7;
}

.slider-full-with {
  width: 100%;
}

.adjust-text {
  word-wrap: break-word;
}

.dnd-drag-over {
  background-color: rgba(96, 125, 139, 0.43) !important;
  border: 1px solid rgba(0, 0, 0, 0.17)  !important;
}

.dnd-drag-start {
  border: 1px solid rgb(0, 0, 0)  !important;
}

.drag-item {
  min-height: 50px !important;
}

.action-item {
  height: 100%;
}

.action-item > div:first-child {
  height: 100%;
}

.action-item-content > div:first-child {
  margin-top: 3px;
}

.action-item-container {
  background-color: #efebe9;
}

.action-item-category-vote {
  background-color: rgb(153, 153, 153);
  color: rgb(255, 255, 255);
}

.action-item-category-tag {
  padding: 5px;
  border-radius: 10px;
  background: rgba(0,0,0,.54);
  color: white;
  font-size: 14px;
}

.action-item-vote-tag {
  padding: 5px;
  border-radius: 10px;
  background: rgba(0,0,0,.54);
  color: white;
  font-size: 14px;
  float:right;
}

.action-item-category-tag .title-tag {
  font-weight: bold;
}

.action-item-vote-tag .title-tag {
  font-weight: bold;
}

.action-item-flow {
  display: flex;
}

.action-item-flow-container{
  margin: 0 auto;
}
