@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.retrospective-list {
  list-style: none;
}

.retrospective-list a {
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  font-size: 11px;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  width: 15em;
}

.retrospective-list a:visited,
.retrospective-list a:link {
  color: #607D8B;
}

.retrospective-list a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.retrospective-list a.active {
  color: #039be5;
}

.wrapper {
  min-height: 500px;
}

.container {
  padding: 5px;
}

.my-sidenav {
  min-width: 17vw !important;
  padding: 20px 10px;
}

.space {
  flex: 1 1 auto;
}

.block {
  display: block;
}

 
.md-18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}

.md-24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.md-36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}

.md-48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

